rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isIngelogd() {
      return request.auth != null;
    }
    function isBeheerder() {
      return isIngelogd() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.rol == "beheerder";
    }
    function isEigenProfiel(uid) {
      return isIngelogd() && request.auth.uid == uid;
    }

    match /users/{uid} {
      allow read: if isIngelogd();
      allow write: if isBeheerder() || isEigenProfiel(uid);
    }
    match /groepen/{id} {
      allow read: if isIngelogd();
      allow write: if isBeheerder();
    }
    match /trainingen/{id} {
      allow read: if isIngelogd();
      allow write: if isIngelogd();
      match /technieken/{tid} {
        allow read, write: if isIngelogd();
      }
      match /beschikbaarheid/{uid} {
        allow read: if isIngelogd();
        allow write: if isBeheerder() || isEigenProfiel(uid);
      }
    }
    match /technieken/{id} {
      allow read: if isIngelogd();
      allow write: if isBeheerder();
    }
    match /members/{id} {
      allow read, write: if isIngelogd();
    }
    match /events/{id} {
      allow read, write: if isIngelogd();
      match /{subcol}/{doc} {
        allow read, write: if isIngelogd();
      }
    }
    match /settings/{id} {
      allow read: if isIngelogd();
      allow write: if isBeheerder();
    }
    match /examens/{id} {
      allow read, write: if isIngelogd();
    }
    match /tarieven/{doc} {
      allow read: if isIngelogd();
      allow write: if isBeheerder();
    }
    match /tarieftypes/{doc} {
      allow read: if isIngelogd();
      allow write: if isBeheerder();
    }
    match /uitbetalingsperiodes/{doc} {
      allow read: if isIngelogd();
      allow write: if isBeheerder();
    }
  }
}
